body { background:#f3f3f3; color:#333; font-family:"Trebuchet MS", Helvetica, sans-serif;}

h1 { font-size:35px; text-shadow:0 1px 2px #fff; text-align:center;}

.flipbook { width:400px; height:400px; margin:0px auto; box-shadow:0 1px 3px #ccc;}

p { font-size:14px; line-height:20px; text-align:center;}

.prelude { width:400px; margin:100px auto 20px auto;}